body {
  position: relative;
  overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}
table {
  table-layout: fixed;
  margin-left: 2em;
  margin-right: 2em;
}

.searchBar{
  //  position:relative;
  margin:auto;
  padding:auto;
  width:40vw;
}
.searchOpt{
  margin:auto;
  padding:auto;
  width:20vw;
}
.logo{
  width:18vw;
  margin:auto;
}

.templateImage{
  background-color: #000;
  width:150px;
  height:150px;
}

#searchButton{
  padding: 20px;
}
#coursetable{
  padding:  20px;
}


//
// page wrapper for sidebar functionality
//

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
}

#page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}
//
// sidebar navigation
//
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-btn {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background-color: black;
  border: none;
}
